.judul{
  font-size: 30px;
  font-weight: bold;
  margin-top: 5%;
}

.up{
  display: inline-block;
  cursor: pointer;
}

.waktu{
  font-weight: bold;
  font-size: 40px;
}

.jam{
  display: inline-block;
}

.menit{
  display: inline-block;
}

.detik{
  display: inline-block;
}

.buttonStart{
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  border: solid 2px black;
  margin: 5px;
  padding: 5px;
  width: 100px;
  background-color: white;
  cursor: pointer;
}

.buttonReset{
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  border: solid 2px black;
  margin: 5px;
  padding: 5px;
  width: 100px;
  background-color: white;
  cursor: pointer;
}

.down{
  cursor: pointer;
}